@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

h1{
    font-family: 'Open Sans';
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}

p{
    font-family: 'Open Sans';
    padding: 20px;
}

h2{
    font-family: 'Open Sans';
    padding: 20px;
}

p-1{
    font-family: 'Open Sans';
}