@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body h1{
    font-family: 'Open Sans';
    text-align: center;
    font-size: 25px;
}

body {
    font-family: 'Open Sans';
    font-size: 20px;
}





header{
    background-color: #f2f2f2;
    text-align: center;
    padding: 25px 0;
}

nav a{
    display: inline-block;
    text-decoration: none;
    color: #696969;
    margin: 0 30px;
    padding: 5px 15px;
    border-radius: 30px;
}
nav a:hover{
    background-color: #000;
    color: fff;
}

.Elmodelo{
    background-image: url(fondo\ negro.jpg);
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.Elmodelo p{
    font-size: 20px;
}
.Elmodelo h1{
    font-size: 50px;
    padding: 20px 0;
}